/* Estilo base para los párrafos */
#song-content p {
    font-size: 16px;  /* Tamaño de fuente base */
    color: #7a4f4f;   /* Color gris claro para los párrafos no activos */
    text-align: center;  /* Centrado */
    margin: 15px 0;
    transition: all 0.02s ease-in-out; /* Transición suave para los cambios */
}

/* Estilo del párrafo activo */
#song-content p.highlight {
    font-size: 24px;  /* Tamaño más grande cuando el párrafo es activo */
    color: #1f1414;   /* Color blanco */
    font-weight: bold; /* Negrita para mayor énfasis */
}

